<p id="notice"><%= notice %></p>

<p>
  <strong>Razon social:</strong>
  <%= @proveedor.razon_social %>
</p>

<p>
  <strong>Familia:</strong>
  <%= @proveedor.familia %>
</p>

<p>
  <strong>Ruc:</strong>
  <%= @proveedor.ruc %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @proveedor.direccion %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @proveedor.contacto %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @proveedor.correo %>
</p>

<p>
  <strong>Web:</strong>
  <%= @proveedor.web %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @proveedor.celular %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedor.telefono %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @proveedor.fax %>
</p>

<p>
  <strong>Cta banco:</strong>
  <%= @proveedor.cta_banco %>
</p>

<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedores_path %>
